{% extends 'base.html' %}

{% block content %}
    <!-- История ресторана -->
    <section class="mb-5 text-center">
        <h1 class="text-primary display-4">История нашего ресторана</h1>
        <hr class="w-25 mx-auto my-4">
        <p class="text-secondary fs-5">{{ about_history.value }}</p>
        <img src="{{ about_history_image.image.url }}" class="img-fluid rounded shadow mt-4" alt="История ресторана">
    </section>
    <!-- Миссия и ценности -->
    <section class="mb-5 bg-light p-5 rounded shadow">
        <h2 class="text-primary text-center">Миссия и ценности</h2>
        <hr class="w-50 mx-auto my-4">
        <p class="text-secondary fs-5 text-center">{{ about_mission.value }}</p>
        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <i class="bi bi-heart text-danger display-3"></i>
                <h4 class="text-primary mt-3">{{ about_mission.value_1 }}</h4>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-people text-success display-3"></i>
                <h4 class="text-primary mt-3">{{ about_mission.value_2 }}</h4>
            </div>
            <div class="col-md-4 text-center">
                <i class="bi bi-star text-warning display-3"></i>
                <h4 class="text-primary mt-3">{{ about_mission.value_3 }}</h4>
            </div>
        </div>
    </section>
    <!-- Команда -->
    <section class="mb-5">
        <h2 class="text-primary text-center">Наша команда</h2>
        <hr class="w-25 mx-auto my-4">
        <div class="row text-center">
            {% for staff in staffs %}
                <div class="col-md-4">
                <img src="{{ staff.image.url }}" class="rounded-circle shadow mb-3" alt="{{ staff.job_title }}">
                <h4 class="text-primary">{{ staff.name }}</h4>
                <p class="text-secondary">{{ staff.job_title }}</p>
                <p class="text-muted">{{ staff.description }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}