{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Поля профиля пользователя -->
                <h2>Профиль</h2>
                <p><strong>Имя:</strong> {{ user.name }}</p>
                {% if user == request.user %}
                    <p><strong>Номер телефона:</strong> {{ user.phone }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                {% endif %}
            </div>
            <div class="card-body">
            
                {% for rez in reservations %}
                    <p class="lead">{{ rez }}
                        {% if rez.status == 'pending' %}
                            <span class="badge bg-primary">Ожидает подтверждения</span>
                        {% elif rez.status == 'confirmed' %}
                            <span class="badge bg-success">Подтверждена</span>
                        {% elif rez.status == 'cancelled' %}
                            <span class="badge bg-danger">Отменена</span>
                        {% elif rez.status == 'completed' %}
                            <span class="badge bg-danger">Завершена</span>
                        {% endif %}

                        {% if rez.status == 'pending' %}
                            <a href="{% url 'table_rezerv:reservation_confirm' rez.pk %}" style="color:white">
                                <span class="badge bg-success m-2">Подтвердить</span>
                            </a>
                            <a href="{% url 'table_rezerv:reservation_change' rez.pk %}" style="color:white">
                                <span class="badge bg-success m-2">Изменить</span>
                            </a>
                        {% endif %}

                        {% if rez.status == 'pending' or rez.status == 'confirmed' %}
                            <a href="{% url 'table_rezerv:reservation_cancel' rez.pk %}" style="color:white">
                                <span class="badge bg-danger m-2">Отменить</span>
                            </a>
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}